.input-field {
  border-radius: 5px;
  border: 1px solid #000;
  background-color: white;
}

.circled-op {
  border-radius: 50%;
  background-color: #fff1c7;
  width: 80px;
  height: 55px;
  border: 1px solid #d3c9a5;
  font-size: 25px;
  padding-top: 25px;
  cursor: pointer;
}

.add {
  height: 50px;
  width: 160px;
}

.app {
  background-color: #d4e4fa;
  text-align: center;
  padding: 20px;
  display: block;
  overflow: auto;
  width: 800px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid #a2badc;
}

.apply-op {
  background-color: #f9c8c6;
  border: 2px solid #be8187;
  border-radius: 20px;
  padding: 10px;
}
